.time_scale([ngStyle]="{ 'width': dimensions.width + 'px'}")
  .time_scale_line(style='height:35px; line-height:35px; position:relative')
    .time_scale_cell(*ngFor='let date of scaleLine', [ngStyle]=" { 'width': cellWidth + 'px' }", [ngClass]="(isDayWeekend(date)) ? 'weekend' : ''")
      | {{date | date: 'dd-MM-yyyy'}}
